<div class = "container">
    <form [formGroup]="rForm" (ngSubmit)="send(rForm.value)">
        <div class="form-outline">
            <label class="form-label" for="form1">Select institution headquarter</label>
            <input type="text" class="form-control" placeholder="Select institution headquarter" formControlName="institution" required />
        </div>
        <div class="form-outline">
            <label class="form-label" for="form1">Acronym:</label>
            <input type="text" class="form-control" placeholder="Acronym" formControlName="acronym" required />
        </div>
        <div class="form-outline">
            <label class="form-label" for="form1">Name:</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="name" required />  
        </div>
        <div class="form-outline">
            <label class="form-label" for="form1">Type:</label>
            <input type="text" class="form-control" placeholder="Type" formControlName="type" required />
        </div>
        <div class="form-outline">
            <label class="form-label" for="form1">Country:</label>
            <select class="form-select form-control" aria-label="Default select example"  placeholder="Country" formControlName="country" required >
                <option selected>Select an option...</option>
                <option *ngFor="let country of countryI">{{country.alpha2Code}}</option>
            </select>
        </div>
        <div class="form-outline">
            <label class="form-label" for="form1">City:</label>
            <input type="text" class="form-control" placeholder="City" formControlName="city" required />
        </div>
        <div class="form-outline">
            <label class="form-label" for="form1">Website:</label>
            <input type="text" class="form-control" placeholder="Website" formControlName="website" required />
        </div>
        <br><br>
        <button type="submit" class="btn btn-link" data-mdb-ripple-color="dark"  >Request add new partner</button>
    </form>
</div>